**/node_modules
**/dist
**/.svelte-kit
.git
.github
.githooks
.tools
.wrangler
.local
coverage
playwright-report
test-results
**/*.pem
.dev.vars
.env
.env.*
**/.DS_Store
**/Thumbs.db
apps/web/e2e
**/*.log
README.md
CONTRIBUTING.md
LICENSE
